<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DAL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <DAL.Properties.Settings>
            <setting name="DAL_WebReference_User_UserManagementV2" serializeAs="String">
                <value>http://192.168.19.200:8889/ServicesWithSession/UserManagementV2.asmx</value>
            </setting>
            <setting name="DAL_WebReference_leave_LeaveManagementV2" serializeAs="String">
                <value>http://192.168.19.200:8889/ServicesWithSession/LeaveManagementV2.asmx</value>
            </setting>
            <setting name="DAL_WebReference_codesetting_CodeSettingsV2" serializeAs="String">
                <value>http://192.168.19.200:8889/ServicesWithSession/CodeSettingsV2.asmx</value>
            </setting>
            <setting name="DAL_WebReference_staff_StaffManagementV2" serializeAs="String">
                <value>http://192.168.19.200:8889/ServicesWithSession/StaffManagementV2.asmx</value>
            </setting>
        </DAL.Properties.Settings>
    </applicationSettings>
</configuration>