.bgblue {
    background-color:#588da7
}
.textCenter {
    text-align: center
}
.font_normalsize {
    font-size: 16px
}
.font_smalllsize {
    font-size:14px
}
.font_small2size {
    font-size: 12px
}
.font_more1size {
    font-size: 18px
}
.font_more2size {
    font-size: 20px
}
.font_more3size {
    font-size: 24px
}
.font_more4size {
    font-size: 28px
}
.fontmore5size {
    font-size: 32px
}