/*grid 通常有头部、主体、主栏、侧栏、尾部等*/


/*module 个语义化的可以重复使用的较大的整体！比如导航、登录、注册、各种列表、评论、搜索等*/


/*uint 通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等*/
.lsu-table-xs {font-size: 13px;}
.lsu-table-xs tr {height: 30px}
.lsu-table-xs td {padding-left: 2px !important;padding-right: 2px !important;}

.lsu-table-sm {font-size: 16px;}
.lsu-table-sm tr {height: 34px}
.lsu-table-sm td {padding-left: 5px !important;padding-right: 2px !important;}

.lsu-table {font-size:16px;}
.lsu-table tr{height:38px}
.lsu-table td {padding-left:5px !important;padding-right: 2px !important;}

.lsu-tablem1 {font-size:16px;}
.lsu-tablem1 tr{height:40px}
.lsu-tablem1 td {padding-left:5px !important;padding-right: 2px !important;}

.lsu-bigtable {font-size: 16px;}
.lsu-bigtable tr {height: 44px}
.lsu-bigtable td {padding-left: 6px !important;padding-right: 2px !important;}


.lsu-btn {font-size: 16px; width:110px;height:30px}

.lsu-imagebtn{background-repeat:no-repeat;border: 0;background-color: transparent; font-weight:bold; color:white; font-size:18px;}


.lsu-box {position: relative;padding-right:15px;padding-top:15px; width:80px}
.lsu-box .msg
{
    position: absolute;right:-15px;top: -1px;
    width: 30px;height: 30px;line-height: 30px;
    color: white;font-size: 18px;background-color: red;
    text-align: center;border-radius: 30px;
}


/*function 为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用，通常这些选择器具有固定样式表现，比如清除浮动等！不可滥用*/
.lsf-redborder{border: 1px solid red}
.lsf-blueborder{border: 1px solid blue}

.lsf-center {text-align:center;vertical-align:middle;}
.lsf-maringTop3px {margin-top: 3px}

.lsf-fontsizem2 {font-size: 20px}
.lsf-fontsizem1 {font-size: 18px}
.lsf-fontsize {font-size: 16px}
.lsf-fontsizes1 {font-size: 14px}
.lsf-fontsizes1 {font-size: 12px}

.lsf-clearPadding {padding:0px}


/*skin 非换肤型网站通常只提取文字色！非换肤型网站不可滥用此类*/
.lss-bgcolor-blue{background-color :#588da7}
.lss-bannercolor-black{background-color :#000000}
.lss-btncolor-blue{background-color :#2573a4; font-weight:bold}
.lss-color-blue{ color:#588da7}

/*custom define*/
.btnBox 
{
  display: inline-block;
  padding: 1px 2px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
}

.btnBox:focus,
.btnBox:active:focus,
.btnBox.active:focus,
.btnBox.focus,
.btnBox:active.focus,
.btnBox.active.focus 
{
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btnBox:hover,
.btnBox:focus,
.btnBox.focus 
{
  color: #333;
  text-decoration: none;
}
.btnBox:active,
.btnBox.active 
{
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
          box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}

.btnBlueBoxSelect
{
  color: #ffffff;
  background-color: #588da7;
  border-color: #588da7;
}


.btnBlueBoxUnSelect
{
  color: #588da7;
  background-color: #ffffff;
  border-color: #588da7;
}

/*red:bd4f8b ;yellow:f3e926 .*/
.redborderCircle 
{    
    width: 42px;
    height: 42px;
    border: 3px #bd4f8b solid;
    -webkit-border-radius: 21px;
}

.blackCircle 
{
    width: 42px;
    height: 42px;
    background-color: #000000;
    -webkit-border-radius: 21px;
}

.yellowCircle 
{
    width: 42px;
    height: 42px;
    background-color: #f3e926;
    -webkit-border-radius: 21px;
}

.modalWindow
{
    display:none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}
.modalContent
{
    width:100%;
    height:95%;
    background-color:white;
    position:absolute;
    bottom:0px;
    left:0px;
}


a.fixLink  { text-decoration: none;color: white}
a:link.fixLink  { text-decoration: none;color: white}
a:visited.fixLink  { text-decoration: none;color: white}
a:hover.fixLink  { text-decoration:none;color: white}
a:active.fixLink  { text-decoration:none;color: white}


a  { text-decoration: none}
a:link  { text-decoration: none}
a:visited  { text-decoration: none}
a:hover  { text-decoration:none}
a:active  { text-decoration:none}

input,button,a {outline:0 none;}