/*grid 通常有头部、主体、主栏、侧栏、尾部等*/


/*module 个语义化的可以重复使用的较大的整体！比如导航、登录、注册、各种列表、评论、搜索等*/


/*uint 通常是一个不可再分的较为小巧的个体，通常被重复用于各种模块中！比如按钮、输入框、loading、图标等*/
.lsu-table-xs {font-size: 16px;}
.lsu-table-xs tr {height: 30px}
.lsu-table-xs td {padding-left: 2px !important;padding-right: 2px !important;}

.lsu-table-sm {font-size: 16px;}
.lsu-table-sm tr {height: 34px}
.lsu-table-sm td {padding-left: 5px !important;padding-right: 2px !important;}

.lsu-table {font-size:16px;}
.lsu-table tr{height:38px}
.lsu-table td {padding-left:5px !important;padding-right: 2px !important;}

.lsu-bigtable {font-size: 16px;}
.lsu-bigtable tr {height: 44px}
.lsu-bigtable td {padding-left: 15px !important;padding-right: 2px !important;}


.lsu-btn {font-size: 16px; width:110px;height:30px}

/*function 为方便一些常用样式的使用，我们将这些使用率较高的样式剥离出来，按需使用，通常这些选择器具有固定样式表现，比如清除浮动等！不可滥用*/
.lsf-redborder{border: 1px solid red}
.lsf-blueborder{border: 1px solid blue}

.lsf-center {text-align:center;vertical-align:middle;}
.lsf-maringTop3px {margin-top: 3px}

.lsf-fontsizem2 {font-size: 20px}
.lsf-fontsizem1 {font-size: 18px}
.lsf-fontsize {font-size: 16px}
.lsf-fontsizes1 {font-size: 14px}
.lsf-fontsizes1 {font-size: 12px}

.lsf-clearPadding {padding:0px}



/*skin 非换肤型网站通常只提取文字色！非换肤型网站不可滥用此类*/
.lss-bgcolor-blue{background-color :#588da7}