<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="webServices"  value="314AE8F5726D2420D6FEFF1AF47251942625039B86A78AD400BDB03FB1867001237BED251913FC6C93E6E95F8377CF8A0B1ADEB4043D4DD8491D4700374E3BDB4590F77AF" />
    <!--"myiisLatestVersion"-->

    <!--<add key="webServices" value="6999A87137CA985FC6D52C4BE09E82C9BA75BFE5A7955613E99F3630DA0B15E90AA381BC0B228110C2BE304C6486D278E4FBC50252FB2F359DEDC450D"/>-->
    <!--eg:http://xxx.xxx.xx.xx:4040/xxx(/webserviceswith)-->
    <add key="SessionIDName" value="ASP.NET_SessionIdIleave"/>
    <!--eg:http://xxx.xxx.xx.xx:4040-->
    <add key="attachmentUploadPath" value="C:/temp/AttachmentUpload/"/>
    <!--0:Disnable sso  .1 enable sso-->
    <add key="EnableSSO" value="0"/>
    <add key="uiUrl" value="http://192.168.19.200:8888/dw-ihr/ui/"/>
  </appSettings>
  
</configuration>

