<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="webServices"  value="4CB771224EEDCBA8500DFF2531E3FA2205B81ADD2AC783758D307AC4969B7846DF813B879AE17A34FDB8903E5D4C1F620CD1EC88DCAF5E18602FF7160" />
    <!--"myiisLatestVersion"-->

    <!--<add key="webServices" value="6999A87137CA985FC6D52C4BE09E82C9BA75BFE5A7955613E99F3630DA0B15E90AA381BC0B228110C2BE304C6486D278E4FBC50252FB2F359DEDC450D"/>-->
    <!--eg:http://xxx.xxx.xx.xx:4040/xxx(/webserviceswith)-->
    <add key="SessionIDName" value="ASP.NET_SessionIdIleave"/>
    <!--eg:http://xxx.xxx.xx.xx:4040-->
    <add key="attachmentUploadPath" value="C:/temp/AttachmentUpload/"/>
    <!--0:Disnable sso  .1 enable sso-->
    <add key="EnableSSO" value="0"/>
    <add key="uiUrl" value="http://192.168.66.100:9999/dw-ihr/ui/"/>
  </appSettings>
  
</configuration>