<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key="webServices"  value="7CF8868E4FE710A142522F95883D6CDA4FD3E6C3168B46CE07B5F659D76D840A107530EA7619460B14B1ACF3CB4236ED71516B410102A736FEDB5E9043FA38C586FE363A8" />
    <!--"myiisLatestVersion"-->

    <!--<add key="webServices" value="6999A87137CA985FC6D52C4BE09E82C9BA75BFE5A7955613E99F3630DA0B15E90AA381BC0B228110C2BE304C6486D278E4FBC50252FB2F359DEDC450D"/>-->
    <!--eg:http://xxx.xxx.xx.xx:4040/xxx(/webserviceswith)-->
    <add key="SessionIDName" value="ASP.NET_SessionIdIleave"/>
    <!--eg:http://xxx.xxx.xx.xx:4040-->
    <add key="attachmentUploadPath" value="C:/temp/AttachmentUpload/"/>
    <!--0:Disnable sso  .1 enable sso-->
    <add key="EnableSSO" value="0"/>
    <add key="uiUrl" value="http://192.168.19.200:9999/dw-ihr/ui/"/>
  </appSettings>
  
</configuration>