<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
  <configSections/>
  <appSettings>
    <add key="webServices"  value="92C895F07A4C2884016CE176CE790F3042F3854B284AE7771328E7D4306100B6E0008CC4D3F655BCECE2592F85F2A8509B4D1ED877CFE9B1C3630D2BB0EECFD38A01BDA55" /> <!--"myiisLatestVersion"-->
    
    <!--<add key="webServices" value="6999A87137CA985FC6D52C4BE09E82C9BA75BFE5A7955613E99F3630DA0B15E90AA381BC0B228110C2BE304C6486D278E4FBC50252FB2F359DEDC450D"/>-->
    <!--eg:http://xxx.xxx.xx.xx:4040/xxx(/webserviceswith)-->
    <add key="SessionIDName" value="ASP.NET_SessionIdIleave"/>
    <!--eg:http://xxx.xxx.xx.xx:4040-->
    <add key="attachmentUploadPath" value="C:/temp/AttachmentUpload/"/>
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <trust level="Full"/>
    <sessionState cookieName="ASP.NET_SessionIdIleave"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
        <add name="HttpGet"/>
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".7z" mimeType="application/octet-stream"/>
    </staticContent>
  </system.webServer>
</configuration>