<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections />
  <appSettings>
    <!--WebService Encryption path eg:http://localhost:4040/DW-iHR/BLL-->
    <!--azure-->
    <!--<add key="webServices" value="05D2FA684C2992B6C1D56B80BF56033D70306706DD7662C8BC3E90A3D746F915BE14A5F1C6885E6A2E9F0F18588F473715D0E701B8B34E8DCADFCD387" />-->
    <!--mylink -->
    <!--64link: 5E562DD28E2C704458F22A22E48E17EA818CB635BCAAB81D8AFDB9A8ED7C1558BFAB998BE19EC688862DA981CCC9FCD31397DF20347A8185F8B59C3200771C32BC2431875-->
    <!--mylocal: 3AF464D76DAF9F2DE37ABA79C5BD2572EE6F137CF8650323A9E7B2C5F53B25F23346C3A507DEB1F0423121475D0130F347508B543D5D4E8FB73164FDE-->
    <add key="webServices" value="3AF464D76DAF9F2DE37ABA79C5BD2572EE6F137CF8650323A9E7B2C5F53B25F23346C3A507DEB1F0423121475D0130F347508B543D5D4E8FB73164FDE" />
    <!--"myiisLatestVersion"-->
    <add key="SessionIDName" value="ASP.NET_SessionIdIleave" />
    <!--eg:http://xxx.xxx.xx.xx:4040-->
    <add key="attachmentUploadPath" value="C:/temp/AttachmentUpload/" />
    <!--0:Disnable sso  .1 enable sso-->
    <add key="EnableSSO" value="0" />
    <add key="uiUrl" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxRequestLength="307200" /><!--x kb  200m upload-->
    <customErrors mode="Off" />
    <trust level="Full" />
    <sessionState cookieName="ASP.NET_SessionIdIleave" timeout="525600" />
    <webServices>
      <protocols>
        <add name="HttpPost" />
        <add name="HttpGet" />
      </protocols>
    </webServices>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>

    <security>
      <requestFiltering>
        <requestLimits maxQueryString="2097151" maxAllowedContentLength="307200000"></requestLimits><!--x b 200m upload-->
      </requestFiltering>
    </security>
    
    <staticContent>
      <mimeMap fileExtension=".7z" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".apk" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".certSigningRequest" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".cer" mimeType="application/octet-stream" />
    </staticContent>
        <defaultDocument>
            <files>
                <add value="longin.aspx" />
            </files>
        </defaultDocument>
  </system.webServer>
</configuration>